<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </link>
    <style>
        body {
            padding-bottom: 30px;
        }

        footer {
            height: 100px;
            bottom: 0;
            width: 100%;
            border-top: 2%;
        }

        .navbar {
            background-color: #2d0082;
        }
    </style>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-vue.min.js' %}"></script>
</head>

<div id="app_base">
    {% block header %}
    <b-navbar sticky toggleable="lg" type="dark" bg-color="#2d0082">
        <b-navbar-brand href="#">
            <b-img fluid blank-color="17a2b8" width="50" height="50" src="{% static 'media/images/logo_1.png' %}"
                alt="Responsive image"></b-img>
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item href="#">Link</b-nav-item>
                <b-nav-item href="#" disabled>Disabled</b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>
                </b-nav-item-dropdown>
                <b-nav-item-dropdown text="Bienvenido {{user.username}}" right>
                    <b-dropdown-item href="/admin/auth/user/{{user.id}}">Profile</b-dropdown-item>
                    <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    <footer id="footer">
            <b-img src="{% static 'media/images/background.png' %}" fluid-grow></b-img>
    </footer>
    {% endblock %}
</div>
<script>
    Vue.use(BootstrapVue);
    var vm = new Vue({
        el: '#app_base',
        delimiters: ["[[", "]]"]
    })
</script>

</html>