{% extends "base.html" %}{% load static %}

{% block content %}
<b-container id="app" fluid>
    <template>
        <b-breadcrumb size="sm" :items="breadcrumbs"></b-breadcrumb>
    </template>
    <b-row>
        <b-col md="auto">
            <b-card-group>
                {% for post in posts %}
                <div>
                    <b-card responsive title="{{ post.title }}" header="{{post.datetime_created}}">
                        <b-card-text>
                            {{ post.content }}
                        </b-card-text>
                        <b-img fluid blank-color="17a2b8" width="150%" height="auto" src="media/{{post.image}}"></b-img>
                        <b-button href="#" variant="primary">Go somewhere</b-button>
                    </b-card>
                </div>
                {% endfor %}
            </b-card-group>
        </b-col>
    </b-row>
    <script src="{% static 'js/home.js' %}"></script>
</b-container>
{% endblock %}

